ipython==7.10.2
Flask==0.12.4
Flask-Migrate==2.0.4
Flask-SQLAlchemy==2.2
python-telegram-bot==6.1.0
requests==2.22.0
todoist-python==8.1.1
## The following requirements were added by pip freeze:
alembic==0.9.3
backcall==0.1.0
certifi==2017.4.17
click==6.7
decorator==4.1.1
Flask-Script==2.0.5
idna==2.5
itsdangerous==0.24
jedi==0.10.2
Jinja2==2.9.6
pkg-resources==0.0.0
prompt-toolkit==2.0.10
ptyprocess==0.5.2
python-editor==1.0.3
six==1.10.0
SQLAlchemy==1.1.11
tornado==6.0.3
urllib3==1.24.2
Werkzeug==0.15.3
